RemoteSystemsTempFiles/
Vivado/.Xil/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
bootimages/
PetaLinux/offline.txt
# UPDATER START
Vivado/vek280_es_revb_op063_10g/
PetaLinux/vek280_es_revb_op063_10g/
Vivado/vek280_es_revb_op063_16g/
PetaLinux/vek280_es_revb_op063_16g/
Vivado/vek280_es_revb_op063_28g/
PetaLinux/vek280_es_revb_op063_28g/
Vivado/vek280_es_revb_op063_32g/
PetaLinux/vek280_es_revb_op063_32g/
Vivado/vek280_es_revb_op081_10g/
PetaLinux/vek280_es_revb_op081_10g/
Vivado/vek280_es_revb_op081_28g/
PetaLinux/vek280_es_revb_op081_28g/
Vivado/vek280_es_revb_op100_16g/
PetaLinux/vek280_es_revb_op100_16g/
Vivado/vek280_es_revb_op100_32g/
PetaLinux/vek280_es_revb_op100_32g/
Vivado/vek280_es_revb_op120_10g/
PetaLinux/vek280_es_revb_op120_10g/
Vivado/vek280_es_revb_op120_28g/
PetaLinux/vek280_es_revb_op120_28g/
# UPDATER END
