RemoteSystemsTempFiles/
Vivado/.Xil/
Vivado/logs/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
bootimages/
PetaLinux/offline.txt
*.lock
results/
scripts/__pycache__/
# UPDATER START
Vivado/vek280_op063_10g/
Vivado/vek280_op063_16g/
Vivado/vek280_op063_28g/
Vivado/vek280_op063_32g/
Vivado/vek280_op081_10g/
Vivado/vek280_op081_28g/
Vivado/vek280_op100_16g/
Vivado/vek280_op100_32g/
Vivado/vek280_op120_10g/
Vivado/vek280_op120_28g/
Vivado/vck190_fmcp1_op063_10g/
Vivado/vck190_fmcp1_op063_16g/
Vivado/vck190_fmcp1_op063_28g/
Vivado/vck190_fmcp1_op081_10g/
Vivado/vck190_fmcp1_op081_28g/
Vivado/vck190_fmcp1_op100_16g/
Vivado/vck190_fmcp1_op103_16g/
Vivado/vck190_fmcp1_op120_10g/
Vivado/vck190_fmcp1_op120_28g/
# UPDATER END
